{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/indo.css' %}" />

    <!-- seo copy -->
    <title>"Urban Agri, Terrace Garden Products, Way2Agritech"</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.drsoilhealth.com/way2at.png"
    />
    <link rel="canonical" href="https://www.urbanagriculture.in/" />
    <link rel="shortlink" href="https://www.urbanagriculture.in/" />
    <link
      rel="alternate"
      hreflang="x-default"
      href="https://www.urbanagriculture.in/"
    />
    <link
      rel="alternate"
      hreflang="de"
      href="https://www.urbanagriculture.in/"
    />
    <link
      rel="alternate"
      hreflang="es"
      href="https://www.urbanagriculture.in/"
    />
    <link
      rel="alternate"
      hreflang="ru"
      href="https://www.urbanagriculture.in/"
    />
    <link rel="next" href="https://www.urbanagriculture.in/" />
    <meta name="msvalidate.01" content="36F1A09D7116D0E8D667792CE040A6C3" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta property="og:type" content="website" />
    <link href="https://www.google.com" rel="preconnect" />
    <link rel="prefetch" href="https://www.urbanagriculture.in/" />

    <!-- seo end -->
    <meta
      name="google-site-verification"
      content="18KJjvIbdV5HDCUf61zayh2ofiCZAii8cJWfKGIMLlk"
    />
    <meta
      name="keywords"
      content="Urban agriculture, terrace garden, home garden, garden tools, agriculture tools, garden kits, agri inputs, seeds, nursery plants, greenhouse, bio products, plant nutrients, plant growth promoter, bio pesticides, organic fertilizers, vegetables, flowers, kitchen garden, agri inputs, agriculture outlet, apmc rmc yeshwanthpur, coco peat, potting mix, vermi compost, garden nutrients, grow bags, neem products, sprayers, shade nets, terrace garden products near me, urban agriculture bangalore, terrace garden bengaluru "
    />
    <meta
      name="description"
      content="Looking for one stop solution for your terrace garden? Way2Agritech supplies best quality urban agri products at competitive prices besides technical support."
    />
    <meta name="robots" content="noodp" />
    <meta name="Publisher" content="(https://way2agritech.com)" />
    <meta name="revisit-after" content="7 days" />
    <meta name="googlebot" content="ALL" />
    <meta name="Author" content="powertiller.in" />
    <!-- for-mobile-apps -->
    <meta
      name="keywords"
      content="Urban agriculture,terrace garden,home garden,gardening tools,agriculture tools, agri inputs, greenhouse, bio products, plant nutrients, plant growth promoter, bio pesticides, organic fertilizers, vegetables, flowers, kitchen garden, agri inputs, agriculture outlet, apmc rmc yeshwanthpur, coco peat, potting mix, vermi compost, garden nutrients, grow bags, neem products, sprayers, shade nets, terrace garden products near me, urban agriculture bangalore, terrace garden bengaluru "
    />
    <!--open graph-->
    <meta property="og:title" content="urbanagriculture" />
    <meta property="og:site_name" content="urbanagriculture" />
    <meta property="og:url" content="https://www.urbanagriculture.in/" />
    <meta
      property="og:description"
      content="Looking for one stop solution for your terrace garden? Way2Agritech supplies best quality urban agri products at competitive prices besides technical support."
    />
    <meta property="og:type" content="product" />
    <meta
      property="og:image"
      content="https://www.urbanagriculture.in/images/tiller/2.png"
    />
    <meta
      property="og:image"
      content="https://www.urbanagriculture.in/images/tiller/4.jpg"
    />
    <meta
      property="og:image"
      content="https://www.urbanagriculture.in/images/tiller/5.jpg"
    />
    <meta
      property="og:image"
      content="https://www.urbanagriculture.in/images/tiller/3.jpg"
    />
    <meta
      property="og:image"
      content="https://www.urbanagriculture.in/images/tiller/1.jpg"
    />
    <meta
      property="og:image"
      content="https://www.urbanagriculture.in/images/tiller/8.jpg"
    />
    <meta
      property="og:image"
      content="https://www.urbanagriculture.in/images/tiller/9.jpg"
    />
    <meta
      property="og:image"
      content="https://www.urbanagriculture.in/images/tiller/10.jpg"
    />
    <meta
      property="og:image"
      content="https://www.urbanagriculture.in/images/tiller/7.jpg"
    />
    <meta
      property="og:image"
      content="https://www.urbanagriculture.in/images/tiller/6.jpg"
    />
    <!--twitter card-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="urbanagriculture" />
    <meta name="twitter:title" content="urbanagriculture" />
    <meta
      name="twitter:description"
      content="Looking for one stop solution for your terrace garden? Way2Agritech supplies best quality urban agri products at competitive prices besides technical support."
    />
    <meta
      name="twitter:image"
      content="https://www.urbanagriculture.in/images/tiller/2.png"
    />
    <!-- External links-->
    <a href=" https://www.way2agribusiness.com/ "></a>
    <a href=" https://www.way2agritech.com/ "></a>
    <a href=" https://www.way2foods.in/ "></a>
    <a href=" https://www.drsoilhealth.com/ "></a>
    <a href=" https://www.powertiller.in/ "></a>
    <a href=" https://www.way2vegetables.com/ "></a>
    <a href=" https://www.way2groceries.in/ "></a>
    <a href=" https://www.karnatakaagribusiness.com/ "></a>
    <a href=" https://www.way2smartfarmer.com/ "></a>
    <a href=" https://nurserylive.com/ "></a>
    <a href=" https://www.mahyco.com/ "></a>
    <a href=" https://cropx.com/ "></a>
    <a href=" https://www.greenmylife.in/ "></a>
    <a href=" https://www.kaveriseeds.in/ "></a>
    <a href=" https://www.kribhco.net/contact.html "></a>
    <a href=" https://www.ugaoo.com  "></a>
    <a href=" https://www.jkagri.com/ "></a>
    <a href=" https://www.trustbasket.com/ "></a>
    <a href=" https://www.indamseeds.com/ "></a>
    <a href=" https://indiagardening.com/ "></a>

    <a
      href="http://www.britainbusinessdirectory.com/computers_and_internet/world_wide_web/"
    ></a>
    <a href="http://www.highrankdirectory.com/education/special_education/"></a>
    <a
      href="http://www.britainbusinessdirectory.com/computers_and_internet/world_wide_web/"
    ></a>
    <a href="http://www.marketinginternetdirectory.com/health/"></a>
    <a href="https://www.submissionwebdirectory.com/health/"></a>
    <a href="http://www.thehillel.org/"></a>
    <a href="http://www.evolvingcritic.com/"></a>

    <!-- <title>DSH</title> -->
  </head>
  <body>
    <div class="nav-grid">
      <div>
        <img
          class="logo"
          src="https://www.drsoilhealth.com/way2at.png"
          alt="way2agribusiness logo"
        />
      </div>
      <div class="main-grid">
        <div class="container-1">
          <div class="item1">
            <h5 class="company-name">
              Way<span style="color: #e9ab0e">2</span>Agritech
            </h5>
          </div>
          <!-- chat with us -->
          <div class="nav_design">
            <i
              class="fa fa-whatsapp"
              style="font-size: 20px; margin-left: 5px"
            ></i>
            <a href="https://wa.me/6361161836/?text=Hi">Chat with me</a>
          </div>
          <!-- END -->
          <div class="mail item3">
            <span class="glyphicon glyphicon-envelope mail_icon"></span
            ><a href="mailto:way2agritech@gmail.com">way2agritech@gmail.com</a>
          </div>
          <div class="phone-number item4">
            <span class="glyphicon glyphicon-earphone"></span
            ><a href="tel:+919449004956">9449004956</a>
          </div>
        </div>
        <div class="nav-container">
          <a href="index.html"
            ><span class="glyphicon glyphicon-home"></span>Home</a
          >
          <a href="About.html"
            ><span class="glyphicon glyphicon-leaf"></span>About us</a
          >
          <a href="services.html"
            ><span class="glyphicon glyphicon-book"></span>services</a
          >
          <a href="videos.html"
            ><span class="glyphicon glyphicon-grain"></span>Videos</a
          >
          <a href="contact.html"
            ><span class="glyphicon glyphicon-earphone"></span>Contact us</a
          >
        </div>
      </div>
      <div class="menu">
        <span class="glyphicon glyphicon-menu-hamburger"></span
        ><span style="margin-top: 2px">Menu</span>
      </div>
      <div class="products_btn pulse">
        Our Products<span class="glyphicon glyphicon-chevron-down"></span>
      </div>
      <div class="products_close_btn">
        <span class="glyphicon glyphicon-remove"></span>Close
      </div>
      <div class="menu_close">
        <span class="glyphicon glyphicon-remove"></span><span>Close</span>
      </div>
    </div>
    <div class="nav-container2">
      <a href="index.html"
        ><span class="glyphicon glyphicon-home"></span>home</a
      >
      <a href="About.html"
        ><span class="glyphicon glyphicon-leaf"></span>About us</a
      >
      <a href="services.html"
        ><span class="glyphicon glyphicon-book"></span>Services</a
      >
      <a href="videos.html"
        ><span class="glyphicon glyphicon-education"></span>Videos</a
      >
      <a href="contact.html"
        ><span class="glyphicon glyphicon-earphone"></span>Contact us</a
      >
    </div>
    <!-- products side-bar -->
    <div class="products-grid">
      <div class="pgp-grid">
        <div style="text-align: center">
          <div class="shopping">
            <a href="https://www.way2agritech.com/"><span>Shopping</span></a>
          </div>
          <!-- Payment and delivery popup -->
          <div class="shopping pop_up_1" style="margin-top: 5px">
            <span>Payment and delivery</span>
          </div>
        </div>
        <!-- end -->
        <h3>Organic Nutrient Sources</h3>
        <div class="products-list">
          <div class="products-list1" id="l1">
            <a href="#">PGPR & Microbial Consortium</a>
          </div>
          <div class="pgr_drop" style="background-color: #25770c">
            <div class="products-list1">
              <a href="drsoilhealth.html">Drsoilhealth</a>
            </div>
            <div class="products-list1">
              <a href="Spirusan.html">Spirusan</a>
            </div>
          </div>
          <div class="products-list1" id="l2">
            <a href="#" id="crop_tog">Crop specific products</a>
          </div>
          <div class="crop_drop" style="background-color: #25770c">
            <div class="products-list1">
              <a href="Areca_Special.html">Areca Special</a>
            </div>
            <div class="products-list1">
              <a href="Phyton_t.html">Power plus</a>
            </div>
          </div>
          <div class="products-list1" id="l3">
            <a href="">Organic NPK Products</a>
          </div>
          <div class="org_drop" style="background-color: #25770c">
            <div class="products-list1">
              <a href="bio_npk.html">Bio NPK</a>
            </div>
            <div class="products-list1">
              <a href="Bio_Potash.html">Bio potash</a>
            </div>
            <div class="products-list1">
              <a href="Humisan.html">Humisan</a>
            </div>
          </div>
          <div class="products-list1">
            <a href="">secondary Nutrients Products</a>
          </div>
          <div class="products-list1">
            <a href="">Micro Nutrients</a>
          </div>
          <div class="products-list1">
            <a href="">Decomposer</a>
          </div>
        </div>
      </div>
      <div class="pps-grid">
        <h3>Organic Plant Protection Sources</h3>
        <div class="pps-inner-grid">
          <div class="products-list1">
            <a href="">Products for insect and pests</a>
          </div>
          <div class="products-list1">
            <a href="Planton.html">Products for Diseases</a>
          </div>
          <div class="products-list1">
            <a href="">Bio Control Agents</a>
          </div>
          <div class="products-list1">
            <a href="Weedicides.html">Organic Weedicides</a>
          </div>
        </div>
      </div>
      <div class="pps-grid">
        <h3>Inorganic/ Chemical Products</h3>
        <div class="pps-inner-grid">
          <div class="products-list1">
            <a href="">Plant Nutrient Products</a>
          </div>
          <div class="products-list1">
            <a href="">Plant Protection Products</a>
          </div>
        </div>
      </div>
    </div>
    <!-- body -->
    <!-- place order pop up -->
    <div class="modal-body" style="text-align: justify">
      <div class="close_pop_up">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
      Besides counter sales, products delivery would be made against online
      orders. However, we appreciate if the customer could call us (Our contact
      no. 9449004956 / 8095000388 / 8277078435) to understand about supply
      feasibility and then make the payment. If the customer has a valid reason
      can also cancel the order by calling us before the product/ produce
      dispatched. The Courts at Bengaluru shall have exclusive jurisdiction in
      any proceedings arising out of this arrangement.
      <br />
      <br /><b>Online order placement and payment:</b> Order for Way2Agritech
      products such as agri inputs/ agri-tech products can be placed online
      after understanding about our products through our websites and other
      online platforms (also through phone calls). The order placement process
      by the customer will end only after making payment i.e., payment has to be
      made prior to the delivery. Payment will be accepted to a) our current
      account (Way2Agribusiness India Pvt. Ltd., Account no. - 313505000175,
      IFSC code – ICIC0003135, Branch – Mahalakshmipuram, Bengaluru – 560096)
      and b) Google Pay/ PhonePe mobile number 9449004956. After making payment,
      proof of the same has to be shared with us along with the address for
      delivery. If not possible to execute the order, amount will be refunded.
      <br />
      <br /><b>Delivery mechanism:</b> If the order is placed on the Day-1
      before 4.30 pm, the product will be dispatched on the same day with few
      exceptions. Unless specific requirement of the customers regarding the
      transport agency, we will transport through VRL Logistics for supply
      outside Bengaluru as traceability will not be an issue with them.
      Availability of delivery centre near the customers place and “to pay” are
      other key factors to be considered. During normal course, the product will
      reach on the Day-3 if outside Bengaluru but within Karnataka. If within
      Bengaluru, we supply through logistic service providers such as Porter,
      Dunzo &amp; others depending upon their service availability and delivery
      happens on the same day. Transportation cost will be extra in both the
      case.
    </div>
    <!-- banners -->
    <div class="main-home-grid">
      <div class="container">
        <div id="Rotation">
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT-xN6mAcDDPzfk4eiMzV2BG6KteQFv_U8Uw&amp;usqp=CAU"
              alt="images"
            />
          </figure>
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLH_SlfG8cnheahsDIKrZ05VUt_FQ5y6lWIA&amp;usqp=CAU"
              alt="images"
            />
          </figure>
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStLcc3It_VSwgudHAAqQgBsQRVM8sAB0-gnA&amp;usqp=CAU"
              alt="images"
            />
          </figure>
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA0A-CsaqlrYbwkSXIIS2rjHXB0eDbRhBXeQ&amp;usqp=CAU"
              alt="images"
            />
          </figure>
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnomgtAuG0T1hFC-YL2pJkOE7QQyqMeIaZ-A&amp;usqp=CAU"
              alt="images"
            />
          </figure>
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtkUvXdIZZUqi7pCmUVsMtzNCVISDS1CjK3qbnRr7UM49LIEXRg61QKRE231Rd_VHtzSs&amp;usqp=CAU"
              alt="images"
            />
          </figure>
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_5EsjJZolpbLu2kM1L2ucSMVD06YsImMwWg&amp;usqp=CAU"
              alt="images"
            />
          </figure>
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3BHrk7N0owa6eLiIOHdjf20ICyEl_UxEPPNLLX9v2UEi_o_qO6LRs6bIdb5_K6za2WQw&amp;usqp=CAU"
              alt="images"
            />
          </figure>
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU8vvF9pCt8YeBBU0th7k7VC2EvnmRR58_X7kXMz0XoSae3s1xyxjXLNbuc72TqW93zXk&amp;usqp=CAU"
              alt="images"
            />
          </figure>
        </div>
      </div>
      <!-- end -->

      <!-- drsoilhealth image with information -->
      <h2 class="heddings">Dr Soil Health</h2>
      <div class="drsoil">
        <div class="drsoil-grid1">
          <img src="https://www.drsoilhealth.com/images/DSH.png" alt="DSH" />
        </div>
        <div class="drsoil-grid2">
          <h1>ORGANIC</h1>
          <p>
            Dr. Soil Health is an innovation in biotechnology, a unique product
            formulated by SBTL and marketed by Way2Agribusiness India Pvt Ltd.
            Dr. Soil Health is manufactured using plant extracts which
            supplements energy source for higher yield and harvest. Dr Soil
            Health is composed of natural earthworm exudates, seaweeds extract,
            amino acids, vitamins, Fulvic acids, humic acids, chelated micro and
            macro nutrients, which are derived from natural plant origin. Dr
            Soil Health is very rich in micronutrients. Dr. Soil Health will
            result in development of roots & shoots and stimulates the cell
            division, improves the crop size and increasing the beneficial
            micro-organisms. Dr Soil Health promotes organic / natural crop
            cultivation practices in place of conventional chemical practices.
            One of the favourable developments in agriculture sector is farmers
            are gaining awareness that they have to enrich soil fertility and
            thereby get higher yield but not by soil exploitation through
            chemical practices. After application of Dr Soil Health, one can
            notice desirable progress such as soil turning soft, growth of
            earthworm, new roots formation, good vegetative growth of crops and
            finally higher yields.
          </p>
        </div>
      </div>
      <!-- our produts -->
      <div id="carousel">
        <div class="slideImg hideLeft">
          <img src="https://www.drsoilhealth.com/images/tiller/1.jpg" alt="1" />
        </div>
        <div class="slideImg prevLeftSecond">
          <img src="https://www.drsoilhealth.com/images/tiller/2.png" alt="2" />
        </div>
        <div class="slideImg prev">
          <img src="https://www.drsoilhealth.com/images/tiller/4.jpg" alt="4" />
        </div>
        <div class="slideImg selected main">
          <img src="https://www.drsoilhealth.com/images/tiller/5.jpg" alt="5" />
        </div>
        <div class="slideImg next">
          <img src="https://www.drsoilhealth.com/images/tiller/6.jpg" alt="6" />
        </div>
        <div class="slideImg nextRightSecond">
          <img
            src="https://www.drsoilhealth.com/images/phytont.jpg"
            alt="phytont"
          />
        </div>
        <div class="slideImg hideRight">
          <img src="https://www.drsoilhealth.com/images/tiller/8.jpg" alt="8" />
        </div>
        <div class="slideImg hideRight">
          <img
            src="https://www.drsoilhealth.com/images/tiller/10.jpg"
            alt="10"
          />
        </div>
        <div class="slideImg hideRight">
          <img src="https://www.drsoilhealth.com/images/tiller/9.jpg" alt="9" />
        </div>
        <div class="slideImg hideRight">
          <img src="https://www.drsoilhealth.com/images/tiller/9.jpg" alt="9" />
        </div>
        <div class="slideImg hideRight">
          <img src="https://www.drsoilhealth.com/images/tiller/9.jpg" alt="9" />
        </div>
        <div class="slideImg hideRight">
          <img src="https://www.drsoilhealth.com/images/tiller/9.jpg" alt="9" />
        </div>
        <div class="slideImg hideRight">
          <img src="https://www.drsoilhealth.com/images/tiller/9.jpg" alt="9" />
        </div>
      </div>
      <div class="positionBtn">
        <button id="prev"><span>PREV</span></button>
        <button id="next"><span>NEXT</span></button>
      </div>
      <!-- main product -->
      <h4 class="heddings">Our Plant Nutrients & Bio Products</h4>

      <script src="js/update.js"></script>
      <!-- footer -->
    </div>
    <script src="js/script.js"></script>
    <script src="{% static 'js/indo.js' %}"></script>
  </body>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement('script'),
        s0 = document.getElementsByTagName('script')[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/63e08329474251287911ab58/1goig0mmd';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
</html>
